## Imports

In [ ]:
import pickle

import pandas as pd
from keras.api.models import Sequential, load_model
from sklearn.pipeline import Pipeline

## Predictions

### Load the preprocessing pipeline

In [2]:
with open('../models/preprocessing_pipeline.pkl', 'rb') as f:
    pipeline: Pipeline = pickle.load(f)

### Load ANN model

In [3]:
model: Sequential = load_model('../models/churn_model.keras')

### Example Input data

In [4]:
input_data = {
    "RowNumber": 5703,
    "CustomerId": 15749540,
    "Surname": "Hsiung",
    "CreditScore": 585,
    "Geography": "France",
    "Gender": "Male",
    "Age": 36,
    "Tenure": 7,
    "Balance": 0.0,
    "NumOfProducts": 2,
    "HasCrCard": 1,
    "IsActiveMember": 0,
    "EstimatedSalary": 94283.09,
}

In [5]:
input_df = pd.DataFrame([input_data])
input_df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,5703,15749540,Hsiung,585,France,Male,36,7,0.0,2,1,0,94283.09

In [6]:
X_new = pipeline.transform(input_df)
X_new

array([[-0.68073539, -0.27993196,  0.68472287, -1.22605881,  0.80883036,
         0.64104192, -1.030206  , -0.09502138,  0.        ,  0.        ,
         1.        ]])

### Predict on new input

In [8]:
pred_proba = model.predict(X_new)[0][0]
prediction = (
    "The customer is likely to churn."
    if pred_proba > 0.5
    else "The customer is not likely to churn."
)
print(f"Prediction: {prediction} (probability: {pred_proba:.2f})")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step
Prediction: The customer is not likely to churn. (probability: 0.01)